.Add {
    width: 80%;
    background-color: #d3e0ea;
    padding: 15px;
    margin: auto;
    border-radius: 5px;
    text-align: left;
}

.submit {
    text-align: right;
}
.submit input {
    border: 0;
    padding: 10px 30px;
    background-color: #006dcd;
    color: white;
    margin: 5px;
    border-radius: 4px;
}
.submit input:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
.submit input:focus,
.submit input:hover {
    opacity: 0.8;
}
