.button {
    border: 0;
    padding: 10px 15px;
    background-color: #FC9918;
    color: white;
    margin: 5px;
    border-radius: 4px;
}

.button:focus,
.button:hover {
    background-color: #F14A16;
}