.Navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.logout {
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #006dcd;
    color: white;
    border-radius: 1rem;
}

.logout:hover {
    opacity: 0.8;
}
